ion-searchbar {
    min-height: 70px;
    background: #1496E3;
}
.statusLeft {
	color: #FFF;
  margin: 4% 0 4% 0;
  font-size: 1.6rem;
}
h2.times {
    min-width: 100px;
    max-width: 100px;
}

span.statusRight {
    float: right;
    color: #666;
}
span.checkin-right {
    float: right;
    color: #FFF;
}

.logo {
	float: right;
	height: 25px;
}

.ios .list ion-header .item:before,
.ios .list ion-header .item:after {
  border-top: none;
  border-bottom: none;
}
ion-list {
    margin-top: 25px;
}

// .ios .hide-border .toolbar-background {
//   border-bottom-color: transparent;
// }
