ion-searchbar {
    min-height: 70px;
    background: #1496E3;
}
.statusLeft {
	color: white;
}
span.statusRight {
    float: right;
    color: white;
}

.logo {
	float: right;
	height: 25px;
}

.ios .list ion-header .item:before,
.ios .list ion-header .item:after {
  border-top: none;
  border-bottom: none;
}
ion-list {
    margin-top: 25px;
}

// .ios .hide-border .toolbar-background {
//   border-bottom-color: transparent;
// }
