<ion-navbar secondary *navbar>
 <ion-title>
    <img src = "images/kiosk-logo.svg" class="logo" /> Patient list
  </ion-title>
</ion-navbar>

<ion-content padding class="checkin">
 <ion-searchbar 
                 [(ngModel)]="queryText"
                 (input)="search($event, searchKey)"
                 placeholder="Search for a patient...">
  </ion-searchbar>

<p class="statusLeft"><strong>8AM</strong><span class="checkin-right"><strong>127</strong> Booked | <strong>56</strong> Checked-In</span></p>

<ion-list>
        <ion-item *ngFor="let patient of patients | slice:0:4, let i=index"(click)= "itemTapped($event, patient)">
        <h2 class="times" item-left>{{patient.appointmentTime}}</h2>
            <ion-avatar item-left>
                <img src="{{patient.picture}}"/>
            </ion-avatar>
            <h2 secondary>{{patient.firstName}} {{patient.lastName}} <span class='statusRight'>{{patient.doctor}}</span></h2>
        </ion-item>
    </ion-list>

<p class="statusLeft"><strong>9AM</strong></p>

<ion-list>
        
        <ion-item *ngFor="let patient of patients | slice:5:10, let i=index" (click)="itemTapped($event, patient)">
        <h2 class="times" item-left>{{patient.appointmentTime}}</h2>
            <ion-avatar item-left>
                <img src="{{patient.picture}}"/>
            </ion-avatar>
            <h2 secondary>{{patient.firstName}} {{patient.lastName}} <span class='statusRight'>{{patient.doctor}}</span></h2>
        </ion-item>
    </ion-list>

<p class="statusLeft"><strong>10AM</strong></p>

<ion-list>
        
        <ion-item *ngFor="let patient of patients | slice:11:14, let i=index" (click)="itemTapped($event, patient)">
        <h2 class="times" item-left>{{patient.appointmentTime}}</h2>
            <ion-avatar item-left>
                <img src="{{patient.picture}}"/>
            </ion-avatar>
            <h2 secondary>{{patient.firstName}} {{patient.lastName}} <span class='statusRight'>{{patient.doctor}}</span></h2>
        </ion-item>
    </ion-list>

</ion-content>
