// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
	
// @import '../icons/ionicons';
@import '../pages/checkin/checkin';
@import '../pages/login/login';
@import '../pages/patient-detail/patient-detail';
@import "../pages/consent/consent";
@import "../pages/intake-forms/intake-forms";

@font-face {
  font-family: 'proxima';
  src: url('/fonts/proximanova/proximanova-reg-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/proximanova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proximanova/proximanova-reg-webfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proximanova/proximanova-reg-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proximanova/proximanova-reg-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;

  }
@font-face {
    font-family: 'proxima';
  src: url('/fonts/proximanova/proximanova-regitalic-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/proximanova/proximanova-regitalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proximanova/proximanova-regitalic-webfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proximanova/proximanova-regitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proximanova/proximanova-regitalic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'proxima';
  src: url('/fonts/proximanova/proximanova-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proximanova/proximanova-bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proximanova/proximanova-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proximanova/proximanova-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'proxima';
  src: url('/fonts/proximanova/proximanova-sbold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/proximanova/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proximanova/proximanova-sbold-webfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proximanova/proximanova-sbold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proximanova/proximanova-sbold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
    font-style: normal;
}
 
@font-face {
    font-family: 'proxima';
  src: url('/fonts/proximanova/proximanova-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proximanova/proximanova-light-webfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proximanova/proximanova-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proximanova/proximanova-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'proxima';
  src: url('/fonts/proximanova/proximanova-thin-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/proximanova/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/proximanova/proximanova-thin-webfont.woff') format('woff'), /* Modern Browsers */
       url('/fonts/proximanova/proximanova-thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/proximanova/proximanova-thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 100;
    font-style: normal;
}

body {
	font-family: "proxima";
	font-weight: normal;
}

ion-content {
	background-color: #53B6F0;
}
ion-nav.has-views, ion-tab.has-views {
   background: transparent !important;
}

.toolbar {
	min-height: 71px;
	padding: 50px 15px 25px 15px;
}

button {
	border: none !important;
}

ion-title {
    padding: 50px 15px 25px 15px;
}
ion-footer-bar.orange-footer {
    background: #F7774A !important; 
    color: #FFFFFF;
    text-align: center;  
}
