
<ion-navbar secondary *navbar>
  <button menuToggle *ngIf="!patient">
    <!-- <ion-icon name="menu">verify?</ion-icon> -->
  </button>
  <ion-title>
    <img src = "images/kiosk-logo.svg" class="logo" /> Patient Detail
  </ion-title>
</ion-navbar>

<ion-content padding class="patient-detail">
 <div *ngIf="patient" class="selection">
  <ion-col class="lrg-arrow">
     <ion-icon name="arrow-down" isActive="false"></ion-icon>
  </ion-col>
 <!--  <ion-icon name="arrow-down" isActive="false"></ion-icon> -->

    <ion-container>
         <ion-item>
            <ion-avatar item-left image-large>
                <img src="{{patient.picture}}"/>
            </ion-avatar>
             <ion-item-content>
                 <h2>{{patient.firstName}} {{patient.lastName}}</h2>
                 <h4><span class='statusRight'>{{patient.doctor}}</span></h4>
             </ion-item-content>
         </ion-item>

        <ion-row class="bottom-detail">
  		    <ion-col width-30 class="bordered">
  		      <p class="personal-detail"><strong>TIME</strong> <br><span class="appt-details">{{patient.appointmentTime}}</span></p>
  		    </ion-col>
  		     <ion-col width-30 class="bordered">
  		        <p class="personal-detail"><strong>DOB</strong><br><span class="appt-details">{{patient.dob}}</span></p>
  		    </ion-col>
  		     <ion-col width-30 class="bordered">
  		        <p class="personal-detail"><strong>ID NUMBER</strong><br><span class="appt-details">{{patient.idNumber}}</span></p>
  		    </ion-col>
		  </ion-row>

   		<ion-row class="bottom-detail">
          <button class="button button-block" [class.my-class]="!active" (click)="buttonClick()">Verify</button>
      </ion-row>


    </ion-container>
 </div>

<div class="selection">
<ion-col>
          Patient Forms
  </ion-col>
<ion-container>
  <ion-row>
   <ion-col width-30>
      <ion-card text-center>
        <ion-card-header>HIPAA</ion-card-header>
        <img class="logo" src="images/consent-small.svg" />
        <ion-row>
         <p class="bottom-stat">Signed</p>
        </ion-row>
    </ion-card>
  </ion-col>

  <ion-col width-30>
      <ion-card text-center>
        <ion-card-header>Consent to Care</ion-card-header>
        <img class="logo" src="images/consent-small.svg" />
        <ion-row>
         <p class="bottom-stat incomplete">Incomplete</p>
        </ion-row>
    </ion-card>
  </ion-col>

  <ion-col width-30>
      <ion-card text-center>
        <ion-card-header>Intake</ion-card-header>
        <img class="logo" src="images/intake-small.svg" />
        <ion-row>
         <p class="bottom-stat incomplete-percent">25% Complete</p>
        </ion-row>
    </ion-card>
  </ion-col>
</ion-row>
</ion-container>
</div>

</ion-content>
<ion-footer-bar class="orange-footer">
  <button clear (click)="goToConsent()" style="color:white;">LAUNCH FORMS</button>
</ion-footer-bar>
