.intake-forms {
	background: #FFFFFF;
	color: #666666;

  // .background {
  //   background: purple;
  //   border: 1px solid $kiosk-green !important;
  //   color: $kiosk-green ;
  //   box-shadow: none;
  // }

  // .background2 {
  //   background-color: $kiosk-green;
  //   color: white;
  // }


  .button {
    font-family: 'proxima';
    font-weight: 600;
    font-style: normal;
    background: transparent;
    border: 1px solid #E0E0E0;
    color: #979797;
    box-shadow: none;
    text-align: center;

  }
  .button:hover:not(.disable-hover) {
    background-color: $kiosk-green;
    color: white;
    border: 1px solid $kiosk-green;
  }

  h2.title-type {
    font-weight: 300;
  }

  h4.questions {
    font-weight: 600;
    font-style: normal;
  }

  h5.description {
     color: #979797;
  }

  ion-col.round-btn {
    margin-right: 3%;
    margin-left: 3%;
    max-width: 15%;
  }

  ion-item.button.button-block.round-btn.item {
  border-radius: 100px;
  }
  img.following {
  margin-bottom: 10%;

  }
  ion-col.following-img {
  position: fixed;
  }

  ion-row.more-questions {
  margin-top: -11px;
  }




}





