.intake-forms {
	background: #FFFFFF;
	color: #666666;

  // .background {
  //   background: purple;
  //   border: 1px solid $kiosk-green !important;
  //   color: $kiosk-green ;
  //   box-shadow: none;
  // }

  // .background2 {
  //   background-color: $kiosk-green;
  //   color: white;
  // }
  ion-row.conditions {
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .button {
    font-family: 'proxima';
    font-weight: 600;
    font-style: normal;
    background: transparent;
    border: 1px solid #E0E0E0;
    color: #979797;
    box-shadow: none;
    text-align: center;

  }
  .button:hover:not(.disable-hover) {
    background-color: $kiosk-green;
    color: white;
    border: 1px solid $kiosk-green;
  }

  h2.title-type {
    font-weight: 300;
  }

  h4.questions {
    font-weight: 600;
    font-style: normal;
  }

  h5.description {
     color: #979797;
  }

  ion-col.round-btn {
    max-width: 15%;
    margin-left: 3%;
}

 ion-label.input-questions {
    min-width: 300px;
    color: #666;
    font-size: 1.6rem;
    margin-bottom: 0 !important;
}
  ion-item.button.button-block.round-btn.item {
    border-radius: 100px;
    font-size: 1.4rem;
  }

  .item-input ion-input, .item-input ion-textarea {
    position: static;
    max-width: 200px;
    min-width: 200px;
    border-bottom: 1px solid gray;
}

  img.following {
  margin-bottom: 10%;

  }
  ion-col.following-img {
  position: fixed;
  }

  ion-row.more-questions {
  margin-top: -11px;
  }




}





